p {
    text-align: center;
    font-size: 2rem;
}

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    padding: 1rem 2rem;
}

.input-group>select {
    cursor: pointer;
    flex-grow: 1;
    padding: 0.5rem;
    max-width: 300px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: none;
}

.input-group>button {
    cursor: pointer;
    background: transparent;
    border: 1px solid gray;
    width: 2.5rem;
    border-right: none;
}

.input-group .last-input {
    border-right: 1px solid gray;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
